.card {
    max-width: 600px;
    margin-bottom: 40px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    padding: 25px;
    background-color: black;
}

.title {
    font-family: Didot;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.text {
    font-family: Source Code Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
    color: white;
}