.sectionDesktop {
    padding-top: 60px;
    background-color: black;
}

.sectionMobile {
    padding: 60px 0px 0px 30px;
    background-color: black;
}

.timeline {
    margin: auto;
}

/* .image {
    border: 3px solid #FFFFFF !important;
    box-sizing: border-box;
    outline: 50px solid white !important;
    outline-offset: 5px;
} */

.imageWrapper {
    margin-bottom: 30px;
    flex: 100%;
}

.imageLink:hover {
    opacity: .5;
}