html,
body {
  padding: 0;
  margin: 0;
  background: url("../public/cornell.jpg") bottom left no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
  font-language-override: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.ant-timeline-item-label {
  color: white;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -10px;
  padding-right: 20px;
  padding-left: 20px;
}

.ant-timeline-item-right>.ant-timeline-item-content {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.ant-timeline-item-left>.ant-timeline-item-content {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

/* :target::before {
  display: block; 
  content: ""; 
  height: 100px;
  margin: -100px 0 0;
  visibility: hidden; 
} */