.experienceTitleContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: url(../public/cornell.jpg) center left no-repeat;
    background-size: cover;
    height: 180px;
}

.section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: black;
    align-items: center;
}

.overlapLeft {
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: flex-end;
    padding: 50px;
    width: 1400px;
}

.overlayLeft {
    position: absolute;
    left: 100px;
    top: calc(50% - 150px);
}

.overlapRight {
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: flex-start;
    padding: 50px;
    width: 1400px;
}

.overlayRight {
    position: absolute;
    right: 100px;
    top: calc(50% - 115px);
}

.line {
    width: 300px;
    height: 3px;
    background-color: white;
}
