/* general */
.imageLink:hover {
    opacity: .5;
}

/* large screen */
@media only screen and (min-width: 1450px) {
    .section {
        display: flex;
        flex-flow: column;
        justify-content: center;
        background-color: black;
        align-items: center;
    }
    
    .overlapLeft {
        display: flex;
        flex-flow: row;
        position: relative;
        justify-content: flex-end;
        padding: 50px;
        width: 1400px;
    }

    .overlayLeft {
        position: absolute;
        left: 100px;
        top: calc(50% - 150px);
    }

    .overlapRight {
        display: flex;
        flex-flow: row;
        position: relative;
        justify-content: flex-start;
        padding: 50px;
        width: 1400px;
    }

    .overlayRight {
        position: absolute;
        right: 100px;
        top: calc(50% - 150px);
    }
}

/* adjustable width */
@media only screen and (min-width: 1170px) and (max-width: 1449px) {
    .section {
        display: flex;
        flex-flow: column;
        background-color: black;
    }

    .overlapLeft {
        display: flex;
        flex-flow: row;
        position: relative;
        justify-content: flex-end;
        padding: 50px;
        min-width: 1150px;
        max-width: 1400px
    }
    
    .overlayLeft {
        position: absolute;
        left: 100px;
        top: calc(50% - 150px);
    }

    .overlapRight {
        display: flex;
        flex-flow: row;
        position: relative;
        justify-content: flex-start;
        padding: 50px;
        min-width: 1150px;
        max-width: 1400px;
    }

    .overlayRight {
        position: absolute;
        right: 100px;
        top: calc(50% - 150px);
    }
}

/* mobile and tablet mode */
@media only screen and (max-width: 1169px) {
    .section {
        display: flex;
        flex-flow: column;
        background-color: black;
        padding: 20px 50px 0px 50px;
    }

    .overlayLeft, .overlayRight {
        position: relative;
        padding: 40px 0px 20px 0px;
        margin: auto;
    }

    .overlapLeft, .overlapRight {
        display: flex;
        flex-flow: column;
        margin: auto;
        padding: 40px 0px 30px 0px
    }

    .imageLink {
        max-width: 600px;
    }
}