.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    z-index: 9997;
    /* transition: all 0.5s; */
    padding: 15px;
    /* background-color: pink; */
}

.navbar {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    padding-top: 50px;
}

.name {
    font-family: Didot;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: white;
}

.anchorLinks > a {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    padding-left: 40px;
}